@import './mixin.scss';

#CommonHeader {
    position: fixed;
    // background: #CCFFE5;
    width: 100%;
    height: 110px;
    .header{
        &_container{
            .container{
                display: flex;
                margin: 0 40px;
                &_logo{
                    width: 120px;
                }
                &_menu{
                  .menu{
                     display: flex;
                     width: 250px;
                     justify-content: space-between;
                  }
                }
            }
        }
    }
}